DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_NAME=reactors_db

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=rootminio
MINIO_SECRET_KEY=rootminio
MINIO_BUCKET=media
MINIO_SECURE=false