<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Магазин</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="space">
        <header class="header">
            <div class="container">
                <div class="brand"><a href="/">НОВАТОМ</a></div>
            </div>
        </header>
        <main class="content">
            <article class="adding-block">
                <div class="container">
                    <h2 class="page-title">ЧЕРНОВИК</h2>
                    <div class="fields-sections">

                        <div class="titles-section field-section">
                            <h3>Заголовки</h3>
                            <div class="name-field field">
                                <span>Название</span>
                                <input type="text" value="{{ reactor.name }}">
                            </div>
                            <div class="manufacturer-field field">
                                <span>Производитель</span>
                                <input type="text" value="{{ reactor.manufacturer }}">
                            </div>
                        </div>

                        <div class="media-section field-section">
                            <h3>Медиа</h3>
                            <div class="image-field field">
                                <span>Изображение</span>
                                <label class="loader-with-background">
                                    <input type="file" value="{{ reactor.image_url }}">
                                    <span>Загрузить</span>   
                                    <img src="{{ reactor.image_url }}" alt="">                                 
                                </label>
                            </div>
                            <div class="video-field field">
                                <span>Видео</span>
                                <label class="loader">
                                    <input type="file" value="{{ reactor.video_url }}">
                                    <span>Загрузить</span>                                        
                                </label>
                            </div>
                        </div>

                        <div class="description-section field-section">
                            <h3>Описание</h3>
                            <div class="description-field field">
                                <input type="text" value="{{ reactor.description }}">
                            </div>
                        </div>

                        <div class="topic-section field-section">
                            <h3>Поля по теме</h3>
                            <div class="thermal-power-field field">
                                <span>Тепловая мощность, МВт</span>
                                <input type="text" value="{{ reactor.thermal_power }}">
                            </div>
                            <div class="electrical-power-field field">
                                <span>Электрическая мощность, МВт</span>
                                <input type="text" value="{{ reactor.electrical_power }}">
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </main>
        <footer class="footer">
            <div class="container">
                <nav class="navigation">
                    <a href="/reactor/1">Лента</a>
                    <a href="/adding">Добавление</a>
                    <a href="/">Плитка</a>
                </nav>
            </div>
        </footer>
    </div>
</body>

</html>