<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Услуга</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="space">
        <header class="header">
            <div class="container">
                <div class="brand"><a href="/">НОВАТОМ</a></div>
            </div>
        </header>
        <main class="content">
            <article class="product-block">
                <video class="product-block-background" autoplay muted loop playsinline>
                    <source src="{{ reactor.video_url or default_video }}" type="video/mp4">
                </video>
                <div class="container">
                    <div class="product-block-overlay">
                        <div class="overlay-header">
                            <h1>{{ reactor.name }}</h1>
                            <h1>{{ reactor.manufacturer }}</h1>
                            <h2>Тепловая мощность: {{ reactor.thermal_power }} МВт</h3>
                            <h2>Электрическая мощность: {{ reactor.electrical_power }} МВт</h3>
                        </div>
                        <div class="overlay-footer">
                            <div class="product-controls">
                                <div class="product-action">
                                    <button class="like action-btn">
                                        <svg width="20" height="18" viewBox="0 0 20 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.252 2.11328C13.0717 0.36256 16.0316 0.36295 17.8516 2.11328H17.8525C19.6678 3.94907 19.6325 6.77901 17.8457 8.63672L17.8438 8.6377L10 16.8418L2.15625 8.6377L2.1543 8.63672L1.99219 8.45996C0.367323 6.60337 0.388131 3.89174 2.14648 2.11328C3.03426 1.21557 4.2187 0.822342 5.44727 0.822266C6.5991 0.822266 7.71161 1.16811 8.57812 1.95117L8.74805 2.11328L9.41992 2.82031L10 3.43164L10.5801 2.82031L11.252 2.11328Z"
                                                stroke-width="1.6" />
                                        </svg>
                                    </button>
                                    <span>{{ likes_count }}</span>
                                </div>
                                <div class="product-action">
                                    <a class="next action-btn" href="/reactor/{{ reactor.id }}?next=true">
                                        <svg width="20" height="20" viewBox="0 0 18 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2 3L12 9L2 15V3Z"/>
                                            <rect x="14" y="3" width="2" height="12" rx="0.5"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="product-action">
                                    <label for="description-toggle" class="more">еще</label>
                                </div>
                            </div>
                            <div class="product-description">
                                <input type="checkbox" id="description-toggle" class="description-toggle-checkbox">

                                <div class="description-short">
                                    <h2>{{ reactor.description|truncate(29, True, '...') }}</h2>
                                </div>

                                <label for="description-toggle" class="description-full">
                                    <h2>{{ reactor.description }}</h2>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay-header-tilt"></div>
                <div class="overlay-footer-tilt"></div>
            </article>
        </main>
        <footer class="footer">
            <div class="container">
                <nav class="navigation">
                    <a href="/reactor/1?next=true">Лента</a>
                    <a href="/adding">Добавление</a>
                    <a href="/">Плитка</a>
                </nav>                
            </div>
        </footer>
    </div>
</body>

</html>
